* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  color: #050505;
  min-height: 100vh;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
}

.menu__item {
  color: #0e3d6b;
  text-decoration: none;
  font-weight: 600;
}

.header {
  max-width: 1300px;
  margin: 10px auto;
  height: 90px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.header__logo img {
  height: 40px;
  width: 140px;
}

.header__tel a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  margin: 0 15px;
}

.header__nav {
  right: 20px;
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__menu li {
  list-style: none;
  margin: 0px 10px 0px 10px;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__switchLang .lang__btn {
  font-size: 14px;
  background-color: #fff;
}

.header__switchLang .lang__btn:hover {
  font-size: 14px;
  background-color: #ff8500;
  color: #fff;
  font-weight: 400;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  max-height: 700px;
  margin: 0 auto;
  padding: 10px;
}

.main__title {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 25px 0;
  font-weight: 700;
  color: #0e3d6b;
}

.main__link-icon img {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

.main__link-windows {
  text-transform: uppercase;
  font-size: 18px;
  color: darkgray;
  text-decoration: none;
}

.main__link-windows:hover {
  text-transform: uppercase;
  font-size: 18px;
  color: #0e3d6b;
  text-decoration: none;
}

.typeWindows {
  max-height: 350px;
}

.typeWindows__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.typeWindows__title {
  text-align: center;
  margin: 50px auto 60px;
  text-transform: uppercase;
  font-size: 30px;
  color: #0e3d6b;
  font-weight: 800;
  line-height: 0.58;
}

.typeWindows__plas-alum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 260px;
}

.typeWindows__plastic, .typeWindows__aluminium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.typeWindows__plastic img, .typeWindows__aluminium img {
  width: 220px;
  height: 150px;
}

.typeWindows__plastic-info, .typeWindows__aluminium-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  text-align: center;
  width: 320px;
}

.typeWindows__plastic-info-title, .typeWindows__aluminium-info-title {
  font-size: 24px;
  font-family: "Roboto";
  color: #044d91;
  line-height: 0.875;
}

.typeWindows__plastic-info-text, .typeWindows__aluminium-info-text {
  font-size: 16px;
  font-family: "Roboto";
  color: #212434;
  line-height: 1.125;
  width: 340px;
  margin: 0 10px;
}

.typeWindows__line {
  width: 175px;
  height: 5px;
  background-color: #ff8500;
  margin: 16px auto;
}

.typeWindows__btn {
  height: 35px;
  width: 135px;
  background-color: #ff8500;
  color: #fff;
  border-radius: 4px;
  margin: 18px auto;
  padding-top: 10px;
}

.typeWindows__btn:hover {
  height: 35px;
  width: 135px;
  background-color: #fff;
  color: #ff8500;
  border-radius: 4px;
  margin: 18px auto;
  padding-top: 10px;
  border: 1px solid black;
}

.sale {
  background-color: #e9f1f8;
  height: 206px;
}

.sale .sale__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__text-title {
  font-size: 33px;
  font-family: "KelsonSans";
  color: #004a8f;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 24px auto;
}

.sale__text-subtitle, .sale__text-endweek {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #0e3d6b;
  line-height: 0.98;
  text-align: center;
  width: 516px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sale__text-subtitle span, .sale__text-endweek span {
  font-weight: 800;
}

.sale__text-endweek span {
  color: #ff8500;
}

.sale__text-endweek b {
  font-weight: 700;
}

.price__title {
  text-transform: uppercase;
  border-bottom: 1px solid #dae7f3;
  color: #0e3d6b;
}

.price__title hr {
  width: 200px;
  height: 4px;
  background-color: #ff8500;
  margin-bottom: -2px;
}

.price__text {
  font-size: 16px;
  font-family: "Calibri";
  color: #0e3d6b;
  line-height: 1.087;
  text-align: left;
  margin: 34px auto;
}

.typeWindforSale__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.typeWindforSale__wrapper .typeWindforSale__inner {
  width: 320px;
  height: 500px;
  margin: 0 10px;
}

.typeWindforSale__wrapper .typeWindforSale__inner .labelSale {
  background-color: red;
  width: 80px;
  height: 47px;
  border-radius: 6px;
  position: absolute;
}

.typeWindforSale__wrapper .typeWindforSale__inner .labelSale a {
  text-decoration: none;
  color: #fff;
}

.typeWindforSale__wrapper .typeWindforSale__inner .labelSale a span {
  font-size: 12px;
}

.typeWindforSale__wrapper .typeWindforSale__inner .labelSale a span b {
  font-size: 16px;
  font-weight: 300;
}

.typeWindforSale__wrapper .typeWindforSale__inner .infoSale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.typeWindforSale__wrapper .typeWindforSale__inner .infoSale img {
  margin: 20px 30px 10px;
}

.typeWindforSale__wrapper .typeWindforSale__inner .infoSale__name {
  margin: 0 auto 15px;
}

.typeWindforSale__wrapper .typeWindforSale__inner .infoSale__withoutSale {
  margin: 20px auto;
}

.typeWindforSale__wrapper .typeWindforSale__inner .infoSale__price {
  margin: 10px auto;
}

.typeWindforSale__wrapper .typeWindforSale__inner .infoSale__btn {
  margin: 8px auto;
  padding: 4px 40px;
}
/*# sourceMappingURL=style.css.map */